* {
    padding: 0;
    margin :0;
    box-sizing: border-box;
}

.body-container {
    display: flex;
    background-color: #ececec;
    justify-content: center ; 
    width: 100%;
}

.main {
    width: 80%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 0;
    height: auto;
}

header {
    font-size: 18px;
    padding: 24px;
    display: inline-flex;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 60px;
}

.thin {
    font-size: 25px;
    font-weight: lighter!important;
}

footer {
    padding: 24px;
    display: flex;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

#blue-bold {
    font-weight: 900;
    color: #2986ff;
    font-size: 25px;
}

#logo {
    height: 100px;
    width: 32px;
}

nav {
    display: inline-flex;
    list-style-type: none;
}

nav li {
    padding: 8px;
}


/*Banner Section*/

.banner {
    background-image: url("../images/banner.jpg");
    background-size: 100%;
    height: 500px;
}

.banner-txt-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 175px;
    width: 45%;
    height: 175px;
    padding-top: 10px;
    align-items: center;
    left: 75px;
    background-color: rgba(220,220,220, 70%);
    line-height: 1.5;
    margin: 0;
}

.banner-txt-container h1 {
    font-size: 40px;
}

.start-button {
    position: relative;
    top: 15px;
    background-color: rgb(75,75,75);
    padding: 10px 50px;
    font-size: 18px;
    color: white;
}


/*Information Section*/

.first-section {
    background-color: white;
    border-top: 1px solid lightgrey;
    display: flex;
    overflow: hidden;
}

.left-container {
    padding: 32px 24px 0px 24px;
    width: 60%;
}

.left-container img {
    width: 100%;
}

.left-container h2 {
    padding-top: 32px;
    font-weight: bolder;
    font-size: 2.4375rem;
}

.left-container  p {
    padding: 24px 0;
    font-size: 1.15rem;
}

#para-credit { 
    font-size: 1.12rem;
    font-weight: 500;
}

.first-right {
    border-left: 1px solid lightgrey;
    width: 40%;
}

.event {
    display: flex;
    padding: 16px;
    border-bottom: 1px solid lightgrey;
    width: 100%;
}

.image-container {
    width: 35%;
}

.event img {
    width: 100%;
    height: auto;
}

.event-desc {
    margin: auto 0;
    padding-left: 16px;
    width: 65%;
}

.event-desc h4 {
    font-size: 1.6rem;
}

.event-desc p {
    font-size: 1.1rem;
}

.thesis-event-desc a {
    font-size: 1.1rem;
    text-decoration-style: none;
    color: #2986ff;
}


/*Learning Section*/

.learning-section {
    display: block;
}

.learning-section h2 {
    text-align: center;
    padding: 32px 0;
    font-weight: bolder;
    font-size: 2.4375rem;
    width: 100%;
}

.courses-grid {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 75px;
    justify-content: center;
}

.course{
    padding: 0 16px;
    padding-bottom: 32px;
    max-width: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: 375px;
    position: relative;
    transition: all 600ms ease-in-out 0s;
}

.course-sub-container {
    position: absolute;
    top: 20%;
    background-color: #2986ff;
    min-height: 47%;
    width: 92%;
    transition: all 600ms ease-in-out 0s;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.course-head-container {
    position: absolute;
    top: 39%;
    transition: all 600ms ease-in-out 0s;
}

.course-head-container h4 {
    color: white;
    font-size: 1.5rem;
    transition: all 600ms ease-in-out 0s;
}

.course-sub-container p {
    opacity: 0;
    transition: all 800ms ease-in-out 0s;
}

.course-img-container {
    position: relative;
    top: 40%;
    transition: all 600ms ease-in-out 0s;
}

.course-img-container img {
    width: 100%;
    height: auto;
    z-index: 0;
    opacity: 0;
    transition: all 600ms ease-in-out 0s;
}

.course-sub-content {
    text-align: left;
}

.learning-section {
    border-top: 1px solid lightgrey;
}


/*Thesis Section*/

.thesis-section {
    border-top: 1px solid lightgrey;
    background-color: white;
}

.thesis-section h2 {
    text-align: center;
    padding: 32px 0;
    font-weight: bolder;
    font-size: 2.4375rem;
    width: 100%;
}

.thesis-content {
    display: flex;
    width: 100%;
}

.thesis-left-container {
    padding: 0px 24px 32px 24px;
    width: 60%;
}

.thesis-left-container video {
    width: 100%;
    height: auto;
}

.thesis-left-container h4 {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 12px 0;
}

.thesis-left-container p {
    font-size: 1.15rem;
}

.these-right-container {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.thesis-event {
    padding: 16px;
    display: flex;
}

.thesis-image-container {
    width: 35%;
    margin-right: 16px;
}

.thesis-image-container img {
    width: 100%;
    height: auto;
}

.thesis-event-desc {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thesis-event-desc h4 {
    font-size: 1.6rem;
}

.thesis-event-desc p {
    font-size: 1.1rem;
}





























/*Transitions & Animations*/ 

.course:hover .course{
    padding: 0 16px;
    padding-bottom: 32px;
    max-width: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    position: relative;
}

.course:hover .course-img-container {
    position: relative;
    top: 5px;
}

.course:hover .course-img-container img{
    width: 100%;
    height: auto;
    z-index: 0;
    opacity: 1;
}
    
.course:hover .course-sub-container {
    padding: 16px;
    background-color: white;
    min-height: 47%;
    position: absolute;
    top: 190px;
    width: 92%;
    z-index: 1;
}

.course:hover .course-head-container {
    transform: translateY(-50px);
}

.course:hover .course-head-container h4 {
    font-size: 1.5rem;
    font-weight: bolder;
    color: black;

}

.course:hover .course-sub-container p {
    transform: translateY(40px);
    opacity: 1;
}

.course:hover .courses {
    transform: translateY(40px);
    padding: 8px 0;
}