* {
    padding: 0;
    margin :0;
    box-sizing: border-box;
}

.body-container {
    display: flex;
    background-color: #bdbdbd;
    justify-content: center ; 
    width: 100%;
}

.main {
    width: 80%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 0;
    height: auto;
}

header {
    font-size: 18px;
    padding: 24px;
    display: inline-flex;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 60px;
}

.thin {
    font-size: 25px;
    font-weight: lighter!important;
}

footer {
    padding: 24px;
    display: flex;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

#blue-bold {
    font-weight: 900;
    color: #2986ff;
    font-size: 25px;
}

#logo {
    height: 100px;
    width: 32px;
}

nav {
    display: inline-flex;
    list-style-type: none;
}

nav li {
    padding: 8px;
}

.banner {
    background-image: url("../images/banner.jpg");
    background-size: 100%;
    height: 500px;
}

.banner-txt-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 175px;
    width: 45%;
    height: 175px;
    padding-top: 10px;
    align-items: center;
    left: 75px;
    background-color: rgba(220,220,220, 60%);
    line-height: 1.5;
    border-radius: 5px;
    margin: 0;
}

.banner-txt-container h1 {
    font-size: 40px;
}

.start-button {
    position: relative;
    top: 15px;
    background-color: rgb(75,75,75);
    padding: 10px 50px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
}

.first-section {
    background-color: white;
    border-top: 1px solid grey;
    display: flex;
    overflow: hidden;
}

.left-container {
    padding: 32px 24px;
    width: 60%;
}

.left-container img {
    width: 100%;
}

.left-container h2 {
    padding-top: 32px;
    font-weight: bolder;
    font-size: 2.4375rem;
}

.left-container  p {
    padding: 24px 0;
    font-size: 1.15rem;
}

#para-credit { 
    font-size: 1.12rem;
    font-weight: 500;
}

.first-right {
    border-left: 1px solid grey;
    width: 40%;
}

.event {
    display: flex;
    padding: 16px;
    border-bottom: 1px solid grey;
    width: 100%;
}

.image-container {
    width: 35%;
}

.event img {
    width: 100%;
    height: auto;
}

.event-desc {
    margin: auto 0;
    padding-left: 16px;
}